body {
    padding: 20px;
    background-color: #444;
}

#gridContainer {
    display: flex;
    justify-content: center;
}

table {
    background-color: gray;
    border-spacing: 0px;
}

td {
    border: 1px solid rgb(90, 90, 90);
    width: 30px;
    height: 30px;
}

td.dead {
    background-color: transparent;
}

td.live {
    background-color: white;
}

.controls {
    display: flex;
    justify-content: center;
    margin: 20px;
}
button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1b1919;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: #a8a8a8;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.2s;
}
button:hover {
    background-color: #333131;
    transform: translateY(-5px);
    transition: ease-in-out 0.2s;
}
h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1919;
    padding: 20px;
    border-radius: 15px;
    justify-self: center;
}
p {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
.settings {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}